<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" 
    package="com.zzyddz.shui" android:versionCode="29" android:versionName="2.0.6.0">
	<uses-sdk android:minSdkVersion="8" />	
	<supports-screens android:largeScreens="true"
                      android:smallScreens="true"
                      android:anyDensity="true"
                      android:normalScreens="true"/>
	<!--添加权限-->
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.VIBRATE" /><uses-permission android:name="android.permission.GET_TASKS" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.CALL_PHONE" />
	<uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
	<uses-permission android:name="android.permission.WRITE_SETTINGS" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.SEND_SMS"/>
	<uses-permission android:name="android.permission.RECEIVE_SMS" />
	
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.VIBRATE" /> <!--震动权限 -->
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" /> 
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.GET_TASKS"/>

	<uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
	<uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
	<uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />

	<uses-permission android:name="android.permission.RESTART_PACKAGES"/>
	
	<uses-permission android:name="android.permission.READ_SMS"/>
	<uses-permission android:name="android.permission.REORDER_TASKS"/>
	<uses-permission android:name="android.permission.WRITE_SMS"/>
	<uses-permission android:name="android.permission.WRITE_SETTINGS"/> 
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
     <!-- android:debuggable="true" -->
	<application android:name="com.lordcard.common.exception.CrashApplication"  
	    android:icon="@drawable/icon" 
	    android:label="@string/app_name" 
	    android:theme="@style/AppTheme">
		<activity android:name="com.lordcard.ui.StartActivity" android:configChanges="orientation|keyboardHidden"  android:screenOrientation="landscape"  android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
			<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
		</activity>
		<activity android:name="com.lordcard.ui.LoginActivity" android:configChanges="orientation|keyboardHidden"  android:windowSoftInputMode="adjustPan" android:screenOrientation="landscape" android:launchMode="singleTask" android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" />
		
		<!-- begin 游戏共用页面 -->
		<activity android:name="com.lordcard.ui.SettingActivity" android:configChanges="orientation|keyboardHidden" android:windowSoftInputMode="adjustResize|stateHidden" android:launchMode="singleTask" android:screenOrientation="landscape" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
		<activity android:name="com.lordcard.ui.InviteToDowanloadActivity"
		     android:configChanges="orientation|keyboardHidden"
		     android:launchMode="singleTask"
		     android:windowSoftInputMode="adjustPan"
		     android:screenOrientation="portrait" 
		     android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" />
		<activity android:name="com.lordcard.ui.TaskMenuActivity" android:configChanges="orientation|keyboardHidden" android:windowSoftInputMode="adjustResize|stateHidden" android:launchMode="singleTask" android:screenOrientation="landscape" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />

		<activity android:name="com.lordcard.ui.GamePlaceActivity" android:configChanges="orientation|keyboardHidden" android:windowSoftInputMode="adjustResize|stateHidden" android:launchMode="singleTask" android:screenOrientation="landscape" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
		<activity android:name="com.lordcard.ui.NotifiyActivity" android:launchMode="singleTask"/>
		<activity android:name="com.lordcard.ui.DataCentreActivity" android:configChanges="orientation|keyboardHidden" android:windowSoftInputMode="adjustResize|stateHidden" android:launchMode="singleTask" android:screenOrientation="landscape" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
		<!-- end 游戏共用页面 -->
		
		<!-- begin 斗地主页面-->
		<activity android:name="com.lordcard.ui.dizhu.DoudizhuRoomListActivity"  android:configChanges="orientation|keyboardHidden" android:launchMode="singleTask" android:screenOrientation="landscape" android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" />
		<activity android:name="com.lordcard.ui.dizhu.DoudizhuMainGameActivity"   android:configChanges="orientation|keyboardHidden" android:screenOrientation="landscape" android:launchMode="singleTask" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
		<!-- end 斗地主页面-->
<!-- begin 广播-->
		<!-- 短信发送状态监控 -->
		<receiver android:name="com.lordcard.broadcast.SmsSendBroadCast">
			<intent-filter>
				<action android:name="com.lord.card.broadcast.sms.send" />
				<action android:name="android.intent.action.SENDTO" />
			</intent-filter>
		</receiver>
		<!-- 手机状态监听 -->
		<receiver android:name="com.lordcard.broadcast.PhoneStatReceiver">
			<intent-filter>
				<action android:name="android.intent.action.PHONE_STATE" />
				<action android:name="android.intent.action.NEW_OUTGOING_CALL" />
			</intent-filter>
		</receiver>
		<!-- 系统启动完成广播 -->
		 <receiver android:name="com.lordcard.ui.view.notification.PushNoticeBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
<!-- end 广播 -->
<!-- begin 服务 -->
		<!-- 麻将  -->
		<service android:name="com.lordcard.ui.view.notification.NotificationService">
			<intent-filter>
				<action android:name="notification.intent.action.Service" />
			</intent-filter>
		</service>
		<!-- 版本更新 -->
		<service android:name="com.lordcard.common.upgrade.UpdateService">
			<intent-filter>
				<action android:name="game.intent.update.service" />
			</intent-filter>
		</service>
		
<!-- end 服务-->
 		
<!-- =====================================================end第三方配置============================================================= -->          
          <!-- 银联标准版 -->
<!-- =电信支付 END -->
	</application>
	<supports-screens android:anyDensity="true" android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" android:resizeable="true" />
</manifest>

